
  *{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body{
    background: rgb(225, 232, 231);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container{
    width: 90%;
    max-width: 500px;
    text-align: center;
    justify-content: center;
    background: rgb(181, 237, 171);
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px black;
  }

  .clock{
    font-size: 20px;
    letter-spacing: 10px;
    margin-bottom: 20px;
  }

  .date{
    font-size: 20px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
  }

  .controls{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
  }

  .btn{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #fa7e02;
    color: #fff;
    font-size: 14px;
    transition: transform 0.3s ease;
  }

  .btn:hover{
    background-color: #dd7105;
  }

  /* Responsive */
  @media (max-width: 480px){
    .clock{
      font-size: 3rem;
      letter-spacing: 3px;
    }
  }

  @media (min-width: 1200px){
    .container{
      max-width: 650px;
    }
    .clock{
      font-size: 5rem;
    }
  }
